/* Hero.css */

/* Hero.css */

.hero {
    background: url('/src/assets/hero.png') no-repeat center center/cover; /* Adjust the path to your background image */
    color: #fff;
    text-align: center;
    /* padding: 150px 20px; Adjust padding for appropriate height */
    position: relative;
}

.hero .container {
    position: relative;
    z-index: 2;
    width: 1440px;
    height: 662px;
    top: 97px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.hero .btn {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
